<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>i2048.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B75E6E02D109D0D009D2C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B75E6F12D109D0F009D2C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B75E6FB2D109D0F009D2C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
